*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main{
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.name{
    /* border: 2px solid green; */
    width:35%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
label{
    font-size: larger;
    font-weight: 600;
    margin-bottom: 2px;
}
input{
    height:2rem;
    padding:1rem;
}


button{
    width:30%;
    height: 60%;
    font-size: larger;
    font-weight: 550;
    background-color: gray;
    color: white;
}

p{
    color: #ffb234;
    font-size: larger;
    
}

@media only screen and (max-width:620px){
    .name{
        /* border: 2px solid blue; */
        width:90%;

    }
    p{
        font-size: 1rem;
        text-align: center;
    }
    button{
        width: 50%;
        font-size: 1.2rem;
    }
    h1{
        text-align: center;
    }
}